body{
    background-image: url("/assets/img/textbg.png");
    font-family: 'Rye', cursive !important;
    font-size:22px !important;
    background-repeat: repeat;
}

.container{
    margin-top:15px;
    background:rgba(245, 245, 220,0.9);
    border-radius:50px 0px;
    border:10px solid darkslategray;
}
.wrapper{
    padding:20px;
}
.header{
    -webkit-text-stroke: 1px darkgoldenrod;
    word-wrap: break-word;
}

.icon{
    
    margin-top:-20px;
}
.burger-icon{
    height:30px;
}

.icon-order{
    height:15px;
}

#devour-btn{
    animation: example 1s;
    animation-iteration-count: infinite;
    background: #ffc107;
}

@keyframes example {
    0%   {background: #ffc107;}
    50%  {background: orange;}
}

.burger-pic{
   width:250px;
}

.text-box{
    margin-top:10px;
}


.form-control{
    background-image: url("/assets/img/bg.png");
    border:2px groove brown !important;
    font-size:22px !important;
    color: darkslategray !important;
    font-family: 'Bree Serif', serif !important;
}

.order-button{
    background: black !important;
    border:2px solid orange !important;
    border-radius: 20px 0px !important;
    margin-bottom:20px;
}

.order-button:hover{
    opacity: 0.6;
}
.customer{
    height:15px;
}
.burger-div{
    background-color: darkslategray;
    margin:5px;
    padding: 10px;
    border-radius:20px;
    color: white;
    font-family: 'Bree Serif', serif;
    border:2px ridge orange;
    font-size:20px !important;
}

#devoured-burger{
    background-color: rgba(49,79,79,0.7);
}

.name-div{
    word-wrap: break-word;
}

.id-div{
   border-right:2px ridge orange;
   color: orange;
}

.form-control::placeholder {
    color: gray !important;
    opacity: 1;
    font-size:18px;
}

.small{
    font-size:15px !important;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color:orange;
}